html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
   /* overflow: hidden;  */
  box-sizing: border-box;
}
body {
overflow: auto;
    color: #fff;
    background-color: #111111;
}

@font-face{
    font-family: 'roboto';
    src: url(../webfonts/Roboto-Regular.ttf);


}
.containerr{
    width: 91%;
    margin: 0 auto;
    position: relative;
} 
.colorful{
    color: #ffb400;
}
.separator{
    border-top: 1px solid #252525;
    width: 40%;
}  
@media (max-width: 461px){

  .about h1,
  .education .container h1,
  .skills .container h1
  {
    font-size: 61px!important;
  }
  .about h2,
  .education .container h2,
  .skills .container h2{
    bottom: 66px!important;
    font-size: 41px!important;
  }
  
}
/*---Start Home---*/
.home{
    position: relative;
    background-color: #111111;
    color: #fff;
    height: 100%;
    
}
.home .containerr{
    width: 91%;
    margin: 0 auto;
    position: relative;
}
.home .img{
    background-image: url(../images/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px); 
    z-index: 111;
    position: relative;
    top: 25px;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,.9);
}
.home .home-row{
    align-items: center;
}
.home .infos{
    max-width: 599px;
    margin: auto;
    position: relative;
}
.home .infos h2{
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 41px;
    line-height: 41px
}
.home .infos p{
    font-size: 17px;
    margin-bottom: 27px;
    font-size: 17px;
    line-height: 32px;
}
.home .infos button{
    background-color: #ffb400;
    border: none;
    padding: 11px 34px;
    border-radius: 29px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}
.header h2{
  display: none;
}
.header h2 span{
  color: #ffb400;
}
@media (max-width: 991px){
    .home{
        padding: 25px;
    }
    .home .infos{
        /* margin-top: 42%; */
    }
    .home .center{
        display: flex;
        align-items: center;
        height: 100vh;
        
    }
    .home .infos h4{
        font-size: 20px;
        font-weight: 400;
    }
    .home .infos h2{
        font-size: 30px;
        line-height: 30px;
        margin: 18px 0 13px;
    }
    .home .infos p{
        margin: 10px 0 23px;
        font-size: 15px;
        line-height: 30px;
    }
    #menuToggle {
        display: inline-block;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1111;
        user-select: none;
        padding: 19px 0 0 16px;
        width: 54px;
        height: 54px;
        border-radius: 5px;
        background: #252525;
      }
    
      #menuToggle input {
        display: flex;
        width: 54px;
        height: 54px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        top: 0;
        left: 0;
      }
    
      #menuToggle > span {
        display: flex;
        width: 23px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
      }
    
      #menuToggle > span:first-child {
        transform-origin: 0 0;
      }
    
      #menuToggle > span:nth-last-child(2) {
        transform-origin: 0 100%;
      }
    
      #menuToggle input:checked ~ span,.hamburger {
        opacity: 1;
        transform: rotate(45deg) translate(4px, 0);
        background: #fff;
      }
    
      #menuToggle input:checked ~ span:nth-last-child(3),.thirdSpan {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
    
      #menuToggle input:checked ~ span:nth-last-child(2),.secondSpan {
        transform: rotate(-45deg) translate(2px, 4px);
      }
    
      #menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 60px;
        background-color: #252525;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
    
      #menuToggle input:checked ~ ul {
        transform: none;
      }
    
      #menu li {
        position: relative;
        padding-left: 30px;
      }
    
      #menu li:after {
        position: absolute;
        content: '';
        height: 1px;
        width: calc(100% - 60px);
        background: #333;
        left: 30px;
      }
    
      #menu li:last-child:after {
        display: none;
      }
      #menu li.active a{
        color: #ffb400;
      }
      #menu li.active a span {
        font-weight: 600;
      }
    
      #menu li a {
        color: #fff;
        text-transform: uppercase;
        transition-delay: 2s;
        font-size: 26px;
        display: block;
        text-decoration: none;
        padding: 14px 0;
        position: relative;
      }
    
      #menu li a span {
        position: absolute;
        left: 50px;
        font-weight: 400;
      }
      .sticky{
        padding: 16px 25px 14px;
        background: #252525;
        border-bottom: 1px solid #333;
        margin-bottom: 36px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 11;
        top: 0;
      }
      .title{
        display: block!important;
        font-size: 26px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
      }
}
@media (min-width: 992px){
    .header {
        position: fixed;
        right: 30px;
        bottom: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        height: calc(100vh - 200px); 
         top: 100px;
        opacity: 1;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
      }
    
      .header.hide-header {
        z-index: 0 !important;
        opacity: 0;
      }
    .header ul.icon-menu {
        margin: 0;
        padding: 0;
      }
    
      .header ul.icon-menu li.icon-box {
        width: 50px;
        height: 50px;
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        transition: .3s;
        margin: 20px 0;
        border-radius: 50%;
        background: #2b2a2a;
      }
    
      .header ul.icon-menu li.icon-box i {
        color: #ddd;
        font-size: 19px;
        transition: .3s;
      }
      .header ul.icon-menu li.icon-box.active,
      .header ul.icon-menu li.icon-box:hover{
        background-color: #ffb400;
      }
      .header ul.icon-menu li.icon-box.active,
      .header ul.icon-menu li.icon-box:hover,
      .header ul.icon-menu li.icon-box.active i,
      .header ul.icon-menu li.icon-box:hover i {
        color: #fff;
      }
    
      .header .icon-box h2 {
        font-size: 15px;
        font-weight: 500;
      }
    
      .header .icon-box a {
        display: block;
        padding: 0;
        width: 50px;
        height: 50px;
      }
    
      .header .icon-box i.fa {
        position: absolute;
        pointer-events: none;
      }
    
      .header .icon-menu i {
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 35px;
        top: 15px;
      }
    
      .header .icon-box h2 {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        color: #fff;
        line-height: 50px;
        font-weight: 500;
        transition: all .3s;
        border-radius: 30px;
        text-transform: uppercase;
        padding: 0 25px 0 30px;
        height: 50px;
      }
    
      .header .icon-box a:hover h2 {
        opacity: 1;
        right: 27px;
        margin: 0;
        text-align: center;
        border-radius: 30px 0 0 30px;
        background-color: #ffb400;
      }
      .header h2{
        display: none;
      }
  
}
/*---End Home---*/
/*---Start about---*/
.about{
    background-color: #111111;
    position: relative;
    padding: 63px 0;
    height: auto;
}
.about .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    background-color: #111111db;
}
.about h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 93px;
    letter-spacing: 7px;
}
.about h2{
    position: relative;
    z-index: 2;
    bottom: 85px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
}
.about .container .personal-infos{
    
}
.about .containerr .personal-infos h3{
    text-transform: uppercase;
    margin-bottom: 25px
}
.about .containerr .personal-infos ul{
    line-height: 45px;
    font-size: 18px;
    font-family: roboto;
}
.about .personal-infos li{
  color: #9d9d9d;
}
.about .personal-infos li span{
  color: white;
}
.about .containerr .brief_intro h3{
    text-transform: uppercase;
}
.about .containerr p{
    font-family: roboto;
    line-height: 31px;
    max-width: 495px;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 28px;
}
.about button{
    background-color: #ffb400;
    border: none;
    padding: 11px 34px;
    border-radius: 29px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    z-index: 3;
    margin-top: 63px;
}

@media (max-width: 540px){
    .about .personal-infos,.about .brief_intro{
      padding: 29px;
    }
    .about .brief_intro p{
      font-size: 16px;
      line-height: 32px;
    }
}
/*---End about---*/

/*---Start Education---*/
.education{
    position: relative;
    height: auto;
}
.education .container h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 93px;
    letter-spacing: 7px;
}
.education .container h2{
    position: relative;
    z-index: 2;
    bottom: 85px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
}
.education .container .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: #111111db;
}
.education .container ul {
    
}
.education .container ul li{
    position: relative;
    padding-left: 65px;
    margin-bottom: 53px;
}
.education .container ul li .icon{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffb400;
    padding: 9px;
    z-index: 1;
    font-size: 17px;
    border-radius: 50%;
}
.education .container ul li .time{
    background-color: #252525;
    padding: 4px 13px;
    border-radius: 20px;
    margin-bottom: 11px;
}
.education .container ul li h5{
    margin-top: 25px;
}
.education .container ul li .location{
    color: #bbbbcb;
    font-weight: 500;
}
.education .container ul li:after{
    content: '';
    position: absolute;
    top: 0;
    left: 19px;
    bottom: 0;
    border-left: 1px solid #333;
}
@media (max-width: 767px){
  .education ul{
    padding: 29px;;
  }
}

/*---End Education---*/


/*---Start Skills---*/
.skills{
    position: relative;
    height: 100%;
}
.skills .container h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 93px;
    letter-spacing: 7px;
}
.skills .container h2{
    position: relative;
    z-index: 2;
    bottom: 85px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
}
.skills .container .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: #111111db;
}
.skills .container .ticket{
        margin: 0 auto 41px auto;
}
.skills .container .c100{
    float: none !important;
    margin: 0 auto;
    background-color: #252525;
    margin-bottom: 15px;
}
.skills .container .c100 span{
    color: white;
}
.skills .container .c100  .bar{
    border: 0.08em solid #ffb400;
}
.c100:after{
    background-color: #111;
}

/*---End Skills---*/











